@use "../../variables" as *;

.meansOfContact {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--white);
  color: var(--black);

  .meansOfContactContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

.meansOfContactDark {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--black);
  color: var(--white);

  .meansOfContactContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .meansOfContact,
  .meansOfContactDark {
    .meansOfContactContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 640px) {
  .meansOfContact,
  .meansOfContactDark {
    .meansOfContactContainer {
      grid-template-columns: 1fr;
    }
  }
} 